/* ---------------Header-------------- */ 
header{
    background-color: #FBFBFB;
    box-shadow: inset 0px 15px 20px -10px  rgba(0, 0, 0, 0.144);
    position: relative;
}
header .hdrbg img:first-child{
    width: 10%;
    position: absolute;
    top: -15px;
}
header .hdrbg img:nth-child(2){
    width: 10%;
    position: absolute;
    top: 10px;
    right: 10px
}
header .hdrbg img:nth-child(3){
    width: 10%;
    position: absolute;
    top: 50%;
    right: 10px
}
header .hdrbg img:nth-child(4){
    width: 20%;
    position: absolute;
    top: -10px;
    right: 40%
}
header .hdrbg img:nth-child(5){
    width: 10%;
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 1;
}
header .hdrbg img:nth-child(6){
    width: 28%;
    position: absolute;
    bottom: 0;
    left: 10px;
    
}
header .hdrbg img:nth-child(7){
    width: 20%;
    position: absolute;
    bottom: 0;
    right: 20px
}
header .hdrbg img:nth-child(8){
    width: 20%;
    position: absolute;
    top: 66%;
    right: -10px
}
header .hdrbg img:last-child{
    width: 20%;
    position: absolute;
    top: 75%;
    left: 10%;
}
header .hdrcontent{
    padding-top: 150px;
    padding-left: 20px;
}
header h1{
    font-family: 'LineIcons';
    color: #31343B;
    text-transform: uppercase;
    position: relative;
    z-index: 100;
}
header h2{
    color: #754ef9;
    text-transform: uppercase;
}
header h3{
    color: #898BA1;
    position: relative;
    z-index: 103;
}
header a button{
    background-color: #754ef9;
    border: none;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    height: 2rem;
    padding: 0 2rem;
}

header ul{
    display: flex;
    color: #898BA1;
    padding: 100px 0 0 0;
    position: relative;
    z-index: 10;
    justify-content:flex-start;
    width: 100%;
    align-items: center;
}
header ul li{
    border: solid #898ba1c4 1px;
    border-radius: 50%;
    list-style: none;
    width: 25px;
    height: 25px;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.purpleLine{
    border: 1px #754ef9 solid;
    height: 0;
    width: 5%;
}

/* ------ Btn More Work -------- */ 
.moreWork{
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
}
.moreWork a button{
    background-color: #754ef9;
    border: none;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    height: 2rem;
    padding: 0 2rem;
    box-shadow: 0px 3px 3px 2px rgba(128, 128, 128, 0.568);
}

/* ------------ Footer ------------*/
footer{
    background-color: #162336 ;
    color: white;
    padding-top: 70Px;
}
footer div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
footer img{
    width: 150px;
} 
footer div:first-child p {
    padding: 0 30px;
}
footer ul{
    display: flex;
    list-style: none;
    padding: 0;
}
footer li{
    background-color: #1E2A40;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div:nth-child(2){
    background-color: #1E2A40;
    padding: 1rem ;
    font-size: small;
    text-align: center;
}

@media screen and (min-width: 769px) {
    footer div:first-child p{
        width: 66%;
    }
    footer li{
        width: 50px;
        height: 50px;
        margin: 0.75rem;
    }
}