@font-face {
    font-family: "FontCLient";
    src: url(LineIcons.eot);
    src: url(LineIcons.woff) format('woff'), url(L) format('svg'), url(LineIcons.ttf) format('truetype');
}
/* fonts */
@font-face {
    font-family: 'Font-Brands';
    src: url('LineIcons.eot'); /* IE9 Compat Modes */
    src: url('LineIcons.woff') format('woff'), /* Pretty Modern Browsers */
         url('LineIcons.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('LineIcons.svg') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Font-Regular';
    src: url('LineIcons.eot'); /* IE9 Compat Modes */
    src: url('LineIcons.woff') format('woff'), /* Pretty Modern Browsers */
         url('LineIcons.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('LineIcons.svg') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Font-Solid';
    src: url('LineIcons.eot'); /* IE9 Compat Modes */
    src: url('LineIcons.woff') format('woff'), /* Pretty Modern Browsers */
         url('LineIcons.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('LineIcons.svg') format('svg'); /* Legacy iOS */
}



body {
    font-family: 'Font-Solid';
}
#flexContainerX{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #162235;
}

.UnfoldX{
    text-align: center;
    color: #bebebe ;
}

#btnContX{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #162235;
}
button{
    border-radius: 25px;
    background-color: #1d2a40;
/*     margin-right: 17px; */
    outline: none;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
}
i{
    color: #bebebe ;
    font-size: 0.25rem;

/*     align-items: center;
    justify-content: center;*/
}
.btnSpBtwnX{
    display: flex;
    justify-content: space-between;
}